# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
sites/*/settings.php.new
cache
default
php.ini
Archive.zip

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private