@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.forms\.scss}line{font-family:\0000310}}
.form-item {
  margin: 8px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.forms\.scss}line{font-family:\0000314}}
.form-item label {
  display: block;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.forms\.scss}line{font-family:\0000319}}
.form-item label.option {
  display: inline;
  font-weight: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.forms\.scss}line{font-family:\0000327}}
.field-type-image-form label {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.forms\.scss}line{font-family:\0000330}}
.field-type-image-form .fieldset-description {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.forms\.scss}line{font-family:\0000334}}
.form-item-field-tags-und {
  clear: left;
  padding-top: 12px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.forms\.scss}line{font-family:\0000339}}
.field-name-isotope-term {
  overflow: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.forms\.scss}line{font-family:\0000344}}
.form-required {
  color: #c00;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.forms\.scss}line{font-family:\0000350}}
.form-item .description {
  font-size: 0.8em;
  color: #555;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.forms\.scss}line{font-family:\0000354}}
.form-type-radio {
  float: left;
  padding-right: 20px;
  padding-left: 1px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.forms\.scss}line{font-family:\0000361}}
.form-type-radio .description,
.form-type-checkbox .description {
  margin-left: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.forms\.scss}line{font-family:\0000368}}
.form-checkboxes .form-item,
.form-radios .form-item {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.forms\.scss}line{font-family:\0000383}}
.container-inline div,
.container-inline label {
  display: inline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.forms\.scss}line{font-family:\0000389}}
fieldset {
  background: transparent;
  border: 1px solid #dadada;
  margin: 10px 0;
  padding: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.forms\.scss}line{font-family:\0000395}}
fieldset fieldset:last-child {
  margin-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.forms\.scss}line{font-family:\00003102}}
legend,
fieldset legend {
  border: 0;
  display: block;
  font-weight: 400;
  padding: 0 10px 0 0;
  white-space: normal;
  *margin-left: -7px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.forms\.scss}line{font-family:\00003112}}
html.js fieldset.collapsed {
  background: transparent;
  padding-top: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.forms\.scss}line{font-family:\00003119}}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.forms\.scss}line{font-family:\00003125}}
button {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.forms\.scss}line{font-family:\00003132}}
button[disabled] {
  cursor: default;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.forms\.scss}line{font-family:\00003138}}
input {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.forms\.scss}line{font-family:\00003141}}
input .form-text {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.forms\.scss}line{font-family:\00003145}}
input[disabled] {
  cursor: default;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.forms\.scss}line{font-family:\00003150}}
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.forms\.scss}line{font-family:\00003159}}
input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.forms\.scss}line{font-family:\00003170}}
input.form-text,
textarea,
select {
  border: 1px solid #ccc;
  height: auto;
  padding: 4px 4px;
  font-family: inherit;
  font-size: 1em;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.forms\.scss}line{font-family:\00003180}}
input#edit-title {
  font-size: 1.3em;
  padding: 6px 6px;
  width: 98%!important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.forms\.scss}line{font-family:\00003186}}
html.js input.form-autocomplete {
  background-position: 100% 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.forms\.scss}line{font-family:\00003191}}
html.js input.throbbing {
  background-position: 100% -15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.forms\.scss}line{font-family:\00003197}}
textarea {
  overflow: auto;
  vertical-align: top;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.forms\.scss}line{font-family:\00003203}}
div.resizable-textarea textarea {
  margin-top: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.forms\.scss}line{font-family:\00003209}}
[hidden] {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.forms\.scss}line{font-family:\00003218}}
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 1px solid #ed541d;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.forms\.scss}line{font-family:\00003224}}
.vertical-tabs ul.vertical-tabs-list li.vertical-tab-button-error a {
  color: #8c2e0b;
  background: #fef5f1;
  outline: 1px solid #ed541d;
  margin-right: 1px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.forms\.scss}line{font-family:\00003233}}
.tips {
  font-size: .857em;
  margin: 0 0 0 15px;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.forms\.scss}line{font-family:\00003240}}
.field-type-text-long fieldset {
  padding: 10px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.forms\.scss}line{font-family:\00003242}}
.field-type-text-long fieldset .form-item {
  margin: 0;
  padding: 0 0 0 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.forms\.scss}line{font-family:\00003249}}
fieldset .filter-help {
  padding: 0 15px 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.forms\.scss}line{font-family:\00003254}}
.filter-guidelines {
  font-size: .923em;
  margin: 0;
  padding: 5px 18px 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.forms\.scss}line{font-family:\00003263}}
.password-parent,
.confirm-parent {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.forms\.scss}line{font-family:\00003272}}
#user-login-form {
  text-align: left;
  /* LTR */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.forms\.scss}line{font-family:\00003275}}
#user-login-form ul {
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.forms\.scss}line{font-family:\00003288}}
#user-login ul {
  margin: 0 0 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.forms\.scss}line{font-family:\00003291}}
#user-login ul li {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.forms\.scss}line{font-family:\00003299}}
#user-login-form .item-list li {
  list-style: none;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.forms\.scss}line{font-family:\00003304}}
#user-login-form li.openid-link {
  background: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.forms\.scss}line{font-family:\00003310}}
#user-login li.openid-link {
  background: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.forms\.scss}line{font-family:\00003323}}
#user-login-form ul {
  margin-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.forms\.scss}line{font-family:\00003339}}
html.js #user-login-form li.openid-link {
  cursor: pointer;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.forms\.scss}line{font-family:\00003347}}
#user-login-form li.openid-link, #user-login-form li.user-link {
  cursor: pointer;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.forms\.scss}line{font-family:\00003361}}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.forms\.scss}line{font-family:\00003369}}
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.forms\.scss}line{font-family:\00003374}}
.panel-pane #search-block-form {
  margin-bottom: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.forms\.scss}line{font-family:\00003383}}
fieldset#edit-advanced fieldset {
  float: left;
  margin: 0 10px 10px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.forms\.scss}line{font-family:\00003387}}
fieldset#edit-advanced fieldset .fieldset-legend {
  background: none;
  padding-left: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.forms\.scss}line{font-family:\00003394}}
.advanced-search-submit {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.forms\.scss}line{font-family:\00003399}}
.search-advanced .criterion {
  float: none;
  margin: 0 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.forms\.scss}line{font-family:\00003405}}
#edit-keywords-fieldset .form-item:first-child {
  margin-top: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.forms\.scss}line{font-family:\00003410}}
#search-form {
  margin: 10px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.forms\.scss}line{font-family:\00003424}}
form th {
  text-align: left;
  /* LTR */
  padding-right: 1em;
  /* LTR */
  border-bottom: 3px solid #ccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.forms\.scss}line{font-family:\00003430}}
form tbody {
  border-top: 1px solid #ccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.forms\.scss}line{font-family:\00003434}}
form tr.even {
  background-color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.forms\.scss}line{font-family:\00003438}}
form table .item-list ul {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.forms\.scss}line{font-family:\00003449}}
.lt-ie8 tr.even th,
.lt-ie8 tr.even td, .lt-ie8 tr.odd th, .lt-ie8 tr.odd td {
  border-bottom: 1px solid #ccc;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.forms\.scss}line{font-family:\00003458}}
#devel-switch-user-form {
  margin-bottom: 0;
}
