@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.fields\.scss}line{font-family:\0000326}}
.field .field-label {
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  line-height: inherit;
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.fields\.scss}line{font-family:\0000354}}
.field-type-taxonomy-term-reference {
  margin-bottom: 1.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.fields\.scss}line{font-family:\0000360}}
.field-type-taxonomy-term-reference.field-label-inline .field-items {
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.fields\.scss}line{font-family:\0000365}}
.field-type-taxonomy-term-reference.field-label-inline .field-item {
  display: inline;
  list-style: none;
  padding: 0 10px 0 0;
  /* LTR */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.fields\.scss}line{font-family:\00003155}}
.ia-l .field-type-image {
  margin: 0.5em 15px 1.5em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.fields\.scss}line{font-family:\00003160}}
.ia-c .field-type-image {
  margin: 0.5em auto 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.fields\.scss}line{font-family:\00003165}}
.ia-r .field-type-image {
  margin: 0.5em 0 1.5em 15px;
}
