/**
 * @file
 * Page Styling
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.pages\.scss}line{font-family:\0000365}}
#logo {
  padding: 10px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.pages\.scss}line{font-family:\0000368}}
#logo img {
  vertical-align: bottom;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.pages\.scss}line{font-family:\0000382}}
#site-name a:link, #site-name a:visited {
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.pages\.scss}line{font-family:\0000387}}
#site-name a:hover, #site-name a:focus {
  text-decoration: underline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.pages\.scss}line{font-family:\00003114}}
ul.links {
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.pages\.scss}line{font-family:\00003118}}
ul.links.inline {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.pages\.scss}line{font-family:\00003122}}
ul.links li {
  display: inline;
  list-style: none;
  padding: 0 10px 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.pages\.scss}line{font-family:\00003131}}
#aggregator .feed-source .feed-icon {
  display: inline;
  float: none;
  margin-right: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.pages\.scss}line{font-family:\00003138}}
.feed-details dt,
.feed-details dd {
  display: inline;
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.pages\.scss}line{font-family:\00003145}}
.search-results {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.pages\.scss}line{font-family:\00003177}}
.block-inner,
.pane-inner,
div.messages,
#branding,
#primary-nav,
#secondary-nav,
#breadcrumb,
#main-content,
#attribution,
.at-panel .rounded-corner {
  margin-left: 10px;
  margin-right: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.pages\.scss}line{font-family:\00003182}}
.page-panels #content {
  margin-left: -10px;
  margin-right: -10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.pages\.scss}line{font-family:\00003252}}
#header-wrapper {
  background: #ddd;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.pages\.scss}line{font-family:\00003296}}
#footer-wrapper {
  background: #666;
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.pages\.scss}line{font-family:\00003310}}
div.messages {
  margin: 1.5em 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.pages\.scss}line{font-family:\00003313}}
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.pages\.scss}line{font-family:\00003352}}
.node-unpublished p.unpublished,
.comment-unpublished p.unpublished {
  color: #fff;
  color: rgba(239, 170, 170, 0.4);
  font-family: Impact,"Arial Narrow",Helvetica,sans-serif;
  font-size: 75px;
  font-weight: bold;
  height: 0;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  overflow: visible;
  text-align: center;
  text-transform: uppercase;
  word-wrap: break-word;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.pages\.scss}line{font-family:\00003373}}
.lt-ie8 .node-unpublished > *,
.lt-ie8 .comment-unpublished > * {
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.pages\.scss}line{font-family:\00003383}}
.dev-query {
  background: #eee;
  padding: 30px;
}
