@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.blocks\.scss}line{font-family:\0000311}}
.block {
  margin-bottom: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.blocks\.scss}line{font-family:\0000348}}
.block-content ul,
.block-content ol {
  margin: 0 0 0 15px;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elena\/Sites\/myspiltmilk\/sites\/all\/themes\/spiltmilk\/sass\/global\.blocks\.scss}line{font-family:\0000352}}
.block-content li {
  margin: 0;
  padding: 0;
}
